<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="PlayerService.PlayerService" behaviorConfiguration="PlayerServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/PlayerService"/>
					</baseAddresses>
				</host>
				<endpoint address="PlayerService" binding="basicHttpBinding" contract="PlayerService.IPlayerService">

				</endpoint>
			</service>

			<service name="PlayerService.TeamService" behaviorConfiguration="TeamServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:7000/PlayerService"/>
					</baseAddresses>
				</host>
				<endpoint address="TeamService" binding="basicHttpBinding" contract="PlayerService.ITeamService">

				</endpoint>
			</service>

			<service name="PlayerService.AuctionService" behaviorConfiguration="AuctionServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:6000/PlayerService"/>
					</baseAddresses>
				</host>
				<endpoint address="AuctionService" binding="basicHttpBinding" contract="PlayerService.IAuctionService">

				</endpoint>
			</service>

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="PlayerServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="TeamServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="AuctionServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>